
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col"></th>
      <th scope="col">Lien</th>
    </tr>
  </thead>
  <tbody>
  <% @city.each do |t| %>
    <tr>
      <td><%= t.name%></td>
      <td></td>
      <td><%= link_to "voir ville", "city/#{t.id}/"%></td>
    </tr>
    <%end%>

  </tbody>
</table>
